{# src src/Taller/AeronauticoBundle/Resource/views/Aeronave/index.xml.twig #}

{% extends 'AeronauticoBundle::layout.html.twig' %} 

       
{% block body%}
    <div id = "cuerpo" class="grid_16">
        Hola {{ name }} !! {{ format}}
    </div>  
{% endblock%}